<div class="wrapper" style="display: table; width: 100%">
    <div class="content" style="vertical-align: middle; display:  table-cell;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-xs-0">
                </div>
                <div class="col-md-6">
                        <div class="card" >
                            <div class="card-header card-header-rose">
                                <h4 class="card-title"> Conference Organizer</h4>
                                <p class="category">Login</p>
                            </div>
                            <form ng-submit="login(credentials)" style="width: 70%; margin:auto;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Username</label>
                                            <input type="text" name ="username" ng-model="credentials.username" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Password</label>
                                            <input type="password" name="password" ng-model="credentials.password" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" id="submitButton" class="btn btn-default pull-right" data-background-color="green">Login</button>
                                <p class="category">Don't have account? <a href="#!registration" style="color:blue">Register here</a></p>
                            </form>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

