<div  ng-init="showMessage()">
    <div class="card" >
        <div class="card-body "  >
            <h6 class="card-category text-danger">
                <i class="material-icons">message</i> {{ message.name }}
            </h6>
            <h4 class="card-title">
                <a href=""> {{ message.message }}</a>
            </h4>
        </div>
        <div class="card-footer ">
            <div class="author">
                <a href="">
                    <span>{{ message.subject }}</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Answer to the message</h4>
        </div>
        <div class="card-body">
            <form ng-submit="sendAnswer(answer)">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group label-floating">
                            <label class="control-label">E-mail</label>
                            <input type="email" id="to" name="email" ng-model="message.email" class="form-control" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <div class="form-group">
                        <div class="form-group">
                        <label class="bmd-label-floating"> Please enter answer.</label>
                        <textarea class="form-control" id="content" rows="5" ng-model="answer.message"></textarea>
                        </div>
                    </div>
                    </div>
                </div>
                <button type="submit" id="send_email" ng-click="sendMessage();"class="btn btn-default pull-right">Send</button>
                <div class="clearfix"></div>
            </form>
        </div>
        </div>
    </div>
    </div>

