
<div class="row">
  <div class="col-md-3">
    <div class="card" > 
      <div class="card-header card-chart card-header-info">
          <h4 class="card-title">Column chart</h4>
      </div>
      <div class="card-body">
        <div class="ct-chart" id="columnchart"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card" > 
      <div class="card-header card-chart card-header-info">
          <h4 class="card-title">Pie chart</h4>
      </div>
      <div class="card-body">
        <div class="ct-chart" id="piechart"></div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
      <div class="card" > 
        <div class="card-header card-chart card-header-info">
            <h4 class="card-title">Stacked bar chart</h4>
        </div>
        <div class="card-body">
          <div class="ct-chart" id="stackedchart"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="card" > 
          <div class="card-header card-chart card-header-info">
              <h4 class="card-title">Peak circles</h4>
          </div>
          <div class="card-body">
            <div class="ct-chart" id="peakcircles"></div>
          </div>
        </div>
    </div>
</div>



<div class="row">
  <div class="col-lg-8 col-md-10" ng-init="getVisitorsStandard()">
    <div class="card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">Standard Ticket Orders</h4>
        <p class="card-category">All the visitors who bought standard ticket</p>
      </div>
      <div class="card-body table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>Firstname </th>
                      <th>Lastname</th>
                      <th>E-mail</th>
                      <th class="text-right">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="visitor in visitorsStandard">
                      <td>{{visitor.firstname}}</td>
                      <td>{{visitor.lastname}}</td>
                      <td id="email">{{visitor.email}}</td>
                      <td class="td-actions text-right">
                          <button type="button" rel="tooltip" class="btn btn-success" ng-click="notify(visitor.email)">
                              <i class="material-icons" >speaker_notes</i>
                          </button>
                      </td>             
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="col-md-4" ng-init="getVisitorsStandardCount()">
    <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">check_circle_outline</i>
          </div>
          <p class="card-category">Standard Ticket Orders</p>
          <h3 class="card-title" id="vscount">{{ vscount }}
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">attach_money</i> <strong > Money earned:  {{ vscount * 150 }} </strong> dollars
          </div>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-md-10" ng-init="getVisitorsPro()">
    <div class="card">
      <div class="card-header card-header-rose">
        <h4 class="card-title">Pro Ticket Orders</h4>
        <p class="card-category">All the visitors who bought pro ticket</p>
      </div>
      <div class="card-body table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>Firstname </th>
                      <th>Lastname</th>
                      <th>E-mail</th>
                      <th class="text-right">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="visitor in visitorsPro">
                      <td>{{visitor.firstname}}</td>
                      <td>{{visitor.lastname}}</td>
                      <td id="email">{{visitor.email}}</td>
                      <td class="td-actions text-right">
                          <button type="button" rel="tooltip" class="btn btn-success" ng-click="notify(visitor.email)">
                              <i class="material-icons">speaker_notes</i>
                          </button>
                      </td>             
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="col-md-4" ng-init="getVisitorsProCount()">
    <div class="card card-stats">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">check_circle_outline</i>
          </div>
          <p class="card-category">Pro Ticket Orders</p>
          <h3 class="card-title" >{{ procount }}
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">attach_money</i> <strong > Money earned:  {{ procount * 150 }} </strong> dollars
          </div>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-md-10" ng-init="getVisitorsPremium()">
    <div class="card">
      <div class="card-header card-header-success">
        <h4 class="card-title">Premium Ticket Orders</h4>
        <p class="card-category">All the visitors who bought premium ticket</p>
      </div>
      <div class="card-body table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>Firstname </th>
                      <th>Lastname</th>
                      <th>E-mail</th>
                      <th class="text-right">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="visitor in visitorsPremium">
                      <td>{{visitor.firstname}}</td>
                      <td>{{visitor.lastname}}</td>
                      <td id="email">{{visitor.email}}</td>
                      <td class="td-actions text-right">
                          <button type="button" rel="tooltip" class="btn btn-success" ng-click="notify(visitor.email)">
                              <i class="material-icons">speaker_notes</i>
                          </button>
                      </td>             
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="col-md-4" ng-init="getVisitorsPremiumCount()">
    <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">check_circle_outline</i>
          </div>
          <p class="card-category">Premium Ticket Orders</p>
          <h3 class="card-title" id="premiumcount">{{ premiumcount }}
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">attach_money</i> <strong > Money earned:  {{ premiumcount * 150 }} </strong> dollars
          </div>
        </div>
    </div>
  </div>
</div>




