
<div class="row">
  <div class="col-lg-8 col-md-10" ng-init="getVisitorsStandard()">
    <div class="card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">Standard Ticket Orders</h4>
        <p class="card-category">All the visitors who bought standard ticket</p>
      </div>
      <div class="card-body table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>Firstname </th>
                      <th>Lastname</th>
                      <th>E-mail</th>
                      <th class="text-right">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="visitor in visitorsStandard">
                      <td>{{visitor.firstname}}</td>
                      <td>{{visitor.lastname}}</td>
                      <td id="to">{{visitor.email}}</td>
                      <td class="td-actions text-right">
                          <button type="button" rel="tooltip" class="btn btn-success">
                              <i class="material-icons" ng-click="sendNotification(visitor._id)">speaker_notes</i>
                          </button>
                        </td>             
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="col-md-4" ng-init="getVisitorsStandardCount()">
    <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">check_circle_outline</i>
          </div>
          <p class="card-category">Standard Ticket Orders</p>
          <h3 class="card-title" id="vscount">{{ vscount }}
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">attach_money</i> <strong > Money earned:  {{ vscount * 150 }} </strong> dollars
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-md-10" ng-init="getVisitorsPro()">
    <div class="card">
      <div class="card-header card-header-rose">
        <h4 class="card-title">Pro Ticket Orders</h4>
        <p class="card-category">All the visitors who bought pro ticket</p>
      </div>
      <div class="card-body table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>Firstname </th>
                      <th>Lastname</th>
                      <th>E-mail</th>
                      <th class="text-right">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="visitor in visitorsPro">
                      <td>{{visitor.firstname}}</td>
                      <td>{{visitor.lastname}}</td>
                      <td>{{visitor.email}}</td>
                      <td class="td-actions text-right">
                          <button type="button" rel="tooltip" class="btn btn-success">
                              <i class="material-icons">speaker_notes</i>
                          </button>
                          
                        </td>             
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="col-md-4" ng-init="getVisitorsProCount()">
    <div class="card card-stats">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">check_circle_outline</i>
          </div>
          <p class="card-category">Pro Ticket Orders</p>
          <h3 class="card-title" id="procount">{{ procount }}
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">attach_money</i> <strong > Money earned:  {{ procount * 150 }} </strong> dollars
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-md-10" ng-init="getVisitorsPremium()">
    <div class="card">
      <div class="card-header card-header-success">
        <h4 class="card-title">Premium Ticket Orders</h4>
        <p class="card-category">All the visitors who bought premium ticket</p>
      </div>
      <div class="card-body table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>Firstname </th>
                      <th>Lastname</th>
                      <th>E-mail</th>
                      <th class="text-right">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="visitor in visitorsPremium">
                      <td>{{visitor.firstname}}</td>
                      <td>{{visitor.lastname}}</td>
                      <td>{{visitor.email}}</td>
                      <td class="td-actions text-right">
                          <button type="button" rel="tooltip" class="btn btn-success">
                              <i class="material-icons">speaker_notes</i>
                          </button>
                        </td>             
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="col-md-4" ng-init="getVisitorsPremiumCount()">
    <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">check_circle_outline</i>
          </div>
          <p class="card-category">Premium Ticket Orders</p>
          <h3 class="card-title" id="premiumcount">{{ premiumcount }}
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">attach_money</i> <strong > Money earned:  {{ premiumcount * 150 }} </strong> dollars
          </div>
        </div>
    </div>
  </div>
</div>


<div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header card-chart card-header-warning">
          <div class="ct-chart" id="dailySalesChart"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">Daily Sales</h4>
          <p class="card-category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 55%  </span> increase in today sales.</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> updated 4 minutes ago
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    <div class="card" > 
      <div class="card-header card-chart card-header-success">
      </div>
      <div class="card-body">
        <h4 class="card-title">Statistics</h4>
        <div class="ct-chart" id="ticketStats"></div>
      </div>
    </div>
    </div>
  </div>





